.caption{
    position: absolute;
    width: 60%;
    text-align: center;
    background-color: #fff;
    bottom: 10%;
}
.lightBoxContainer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
}
.lightBoxContainer .lightBox{
    width: 600px;
}
span{
    cursor: pointer;
}
