main{
    position: relative;
    height: 100vh;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay div{
    width: 600px;
}
i{
    cursor: pointer;
}
.caption{
    position: absolute;
    width: 60%;
    text-align: center;
    background-color: #fff;
    bottom: 10%;
}

@media (max-width:767px){
    main{
        height: auto;
    }
}